html, body {
  margin: 0px;
  font-family: Roboto, Regular;
  text-align: center;
  background: white;
  color: #333;
}

.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  float: right;
  margin: 25px 40px 0 0;
}

.scrollmenu a {
  display: inline-block;
  color: #c9cacf;
  text-align: center;
  padding: 7px 15px 6px 15px;
  margin: 0 0 0 40px;
  font-size: 18px;
  text-decoration: none;
  font-weigth: bold;
}

.scrollmenu a:hover {
  color: black;
  background-color: white;
  border-radius: 20px;
  border-width: thick;
  font-weigth: bold;
}

.section {
  max-width: 600px;
  margin: 0 auto 0 auto;
  padding: 62px;
}

.banner1 {
  background-size: cover;
  margin: 0 auto 0 auto;
  padding: 20px;
  background-color: #333;
}

.banner2 {
  position: relative;
  text-align: center;
  background-color: #c9cacf;
  margin: 0 auto 0 auto;
}

.banner2 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px
}

.testimonial {
  padding: 20px 0;
  margin: 0;
}

.testimonial img {
  width: 120px;
  height: 120px;
  float: right;
  margin-left: 40px;
}

.testimonial p {
  font-size: 20px;
}

.avatar {
  border-radius: 50%
}

.füsio-ch-picture {
  max-width: 1400px;
  margin: 0 auto 0 auto;
  opacity: 0.6;
}

.füsio-ch-logo {
  width: 120px;
  display: block;
}

#footer {
  padding: 20px;
  background: rgb(30, 30, 30);
  color: #777;
}